<section id="nav" class="navb">

  <div  class="imgh">
    <img src="../assets/images/ifotech.png" alt="" style="height: 71px;">
  </div>
  <div class="head">
    <ul class="headd">
      <img src="../assets/images/chart.png" alt="" style="height: 15px; margin-top: 21px;">
      <li [ngClass]="{'active': value === 1}" (click)="tab(1)"> <img src="../assets/images/pie.png" alt="" style="height: 15px;"> DASHBOARD</li>
      <li [ngClass]="{'active': value === 2}" (click)="tab(2)"> <img src="../assets/images/document.png" alt="" style="height: 15px;"> REPORTS</li>
      <li [ngClass]="{'active': value === 3}" (click)="tab(3)"> <img src="../assets/images/settings.png" alt="" style="height: 15px;"> SETTING</li>
      <li [ngClass]="{'active': value === 4}" (click)="tab(4)"> <img src="../assets/images/dollar.png" alt="" style="height: 15px;"> PAYMENT</li>
    </ul>
  </div>

  <div class="users">
    <h4>Rala Admin </h4>
    <!-- <img src="../assets/images/user.png" alt="" style="height: 35px; padding: 10px;"> -->
    <div class="dropdown-container">
      <img src="../assets/images/user.png" alt="" style="height: 35px; padding: 10px;" (click)="toggleDropdown()">
      <ul class="dropdown open" *ngIf="isDropdownOpen">
        <li class="profile" *ngFor="let option of dropdownOptions" (click)="selectOption(option)">{{ option.label }}</li>
      </ul>
    </div>
  </div>

</section>

<section>
  <div class="job">
    <h4 class="jobs">JOBS POSTED</h4>
  </div>
</section>

<section class="jobp">
  <div class="jobtabs">
    <div class="tabslt">
      <h4 class="jobce" [ngClass]="{'activet': tabs === 1}" (click)="select(1)">OPEN JOBS</h4>
      <span class="count"> 1</span> 
    </div>
    <div class="tabslt">
      <h4 class="jobce" [ngClass]="{'activet': tabs === 2}" (click)="select(2)">CLOSED JOBS</h4>
      <span class="count">1</span> 
    </div>
    <div class="tabslt">
      <h4 class="jobce" [ngClass]="{'activet': tabs === 3}" (click)="select(3)">JOBS-ON-HOLD</h4>
      <span class="count">1</span> 
    </div>
    <div class="tabslt">
      <h4 class="jobce" [ngClass]="{'activet': tabs === 4}" (click)="select(4)">ALL JOBS POSTING</h4>
      <span class="count">1</span> 
    </div>
  </div>
</section>

<section class="jobli">
  <div  class="joblist" *ngFor="let data of response; let i=index">

    <div class="box1">
      <div class="box1l">
        <h4>Job Title :&nbsp;</h4>
        <h4>{{data.JobTitle}}</h4>
      </div>
      <div class="box1l">
        <h4>Company :&nbsp; </h4>
        <h4>{{data.Company}}</h4>
      </div>
      <div class="box1l">
        <h4>BU/PU Code :&nbsp; </h4>
        <h4>{{data.BuCode}}</h4>
      </div>
    </div>

    <div class="box2">
      <div class="box2l">
        <h4>Exp :&nbsp; </h4>
        <h4>{{data.Exp}} years</h4>
      </div>
      <div  class="req">
        <button class="box2l reqin"> <img src="../assets/images/interview.png" alt="" style="height: 16px; filter: invert();"> <span>Request For Interview</span> </button>
      </div>
    </div>

    <div class="box3"> 
      <div class="box3l">
        <button class="reqin"> <img src="../assets/images/calendar.png" alt="" style="height: 13px; filter: invert();"> <span> Upload Profiles</span> </button>
        <!-- <img src="../assets/images/menu.png" alt="" style="height: 22px;"> -->
        <div class="dropdown-container">
          <img src="../assets/images/menu.png" alt="" style="height: 22px;" (click)="toggleDropdowns(i)">
          <ul class="dropdown open" *ngIf=" i == open">
            <li class="profile" *ngFor="let option of dropdownOptionss" (click)="selectOption(option)">{{ option.label }}</li>
          </ul>
        </div>
      </div>  
      <div class="box3ls">
        <h4>Created on : {{data.Created}}</h4>
        <h4>Modified on : {{data.Modified}}</h4>
      </div>
      <div class="box3l">
        <h4 class="ope"  [ngClass]="{'status': data.Status == 'close'}">{{data.Status}}</h4>
      </div>
    </div>

  </div>
</section>